backups/Backups-Automaticos.json
{"updatedAt":"2026-02-05T15:20:17.785Z","createdAt":"2026-02-05T14:22:36.029Z","id":"F3JTt3tXHf_F3uuiUXHFv","name":"Backups-Automaticos","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-976,160],"id":"1b0d323d-fe2d-4d0c-aaaa-f5134d99877a","name":"Get many workflows","credentials":{"n8nApi":{"id":"4Ju7vgudo0R5Dfbs","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,160],"id":"20671b10-9cba-46dc-b42d-6d1238a6bd3a","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1200,160],"id":"ed9fea56-886e-4f0f-a2de-a26432746d7a","name":"Schedule Trigger"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-464,176],"id":"ee60c769-2f54-4365-8569-a06f6e9cd4b9","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"b4c5532a-89da-4051-95a8-0aa7bbcb1f77","name":"Upload file"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,176],"id":"5c9a9891-2d72-4a1c-863c-85ac9e0906b9","name":"Wait","webhookId":"a6171094-f592-4c46-a2ba-7cd7276f47d1"},{"parameters":{"method":"POST","url":"=https://vsqtckejfhflydyqkagc.supabase.co/storage/v1/object/archivos/{{ $('Loop Over Items').item.json.name }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,160],"id":"0fa5a910-5e38-405b-a232-02eebc4e791d","name":"Agregar archivo al bucket"},{"parameters":{"text":"Se exportaron todos los flujos correctamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-464,-16],"id":"af1458f2-47b0-458d-99e4-307a1ec7c1b7","name":"Send a text message","webhookId":"9ebfe787-37a4-4291-91c3-6e58be5dac80","disabled":true},{"parameters":{"operation":"write","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[0,544],"id":"55716477-d6a7-49f9-8ede-b237bb8e0828","name":"Read/Write Files from Disk"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"LeonardoMuranodev","mode":"name"},"repository":{"__rl":true,"value":"backups-automaticos","mode":"list","cachedResultName":"backups-automaticos","cachedResultUrl":"https://github.com/LeonardoMuranodev/backups-automaticos"},"filePath":"=backups/{{ $('Loop Over Items').item.json.name }}.json","binaryData":true,"commitMessage":"=Agregando el backup del archivo {{ $('Loop Over Items').item.json.name }}.json"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[0,352],"id":"a831ced4-4ef4-483f-9967-12bc7ad75553","name":"Create a file","webhookId":"a4ec5627-111d-4356-a995-4f4ba9f4a20c","credentials":{"githubApi":{"id":"BAaLDDKlM394GnIo","name":"GitHub backups"}}}],"connections":{"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Agregar archivo al bucket":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b087b5ab-de5c-497f-a53b-ec7346e24a12","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-05T14:22:36.029Z","createdAt":"2026-02-05T14:22:36.029Z","role":"workflow:owner","workflowId":"F3JTt3tXHf_F3uuiUXHFv","projectId":"BpgoOzrqFEVx7OMr"}],"activeVersion":null,"tags":[]}