backups
{"updatedAt":"2026-02-05T14:48:24.359Z","createdAt":"2026-02-05T14:22:36.029Z","id":"F3JTt3tXHf_F3uuiUXHFv","name":"Backups Automaticos","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-976,160],"id":"1b0d323d-fe2d-4d0c-aaaa-f5134d99877a","name":"Get many workflows","credentials":{"n8nApi":{"id":"4Ju7vgudo0R5Dfbs","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-768,160],"id":"20671b10-9cba-46dc-b42d-6d1238a6bd3a","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1200,160],"id":"ed9fea56-886e-4f0f-a2de-a26432746d7a","name":"Schedule Trigger"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-464,160],"id":"ee60c769-2f54-4365-8569-a06f6e9cd4b9","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"b4c5532a-89da-4051-95a8-0aa7bbcb1f77","name":"Upload file"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,160],"id":"5c9a9891-2d72-4a1c-863c-85ac9e0906b9","name":"Wait","webhookId":"a6171094-f592-4c46-a2ba-7cd7276f47d1"},{"parameters":{"method":"POST","url":"=https://vsqtckejfhflydyqkagc.supabase.co/storage/v1/object/archivos/{{ $('Loop Over Items').item.json.name }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,160],"id":"0fa5a910-5e38-405b-a232-02eebc4e791d","name":"Agregar archivo al bucket"},{"parameters":{"dataTableId":{"__rl":true,"value":"bM36oSWlVGyj6YfU","mode":"list","cachedResultName":"logs-backups","cachedResultUrl":"/projects/BpgoOzrqFEVx7OMr/datatables/bM36oSWlVGyj6YfU"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["CantidadFlujos"],"schema":[{"id":"CantidadFlujos","displayName":"CantidadFlujos","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-320,304],"id":"1ee91261-fd47-4b57-b367-56ffec646fc4","name":"Insert row"}],"connections":{"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Agregar archivo al bucket","type":"main","index":0}]]},"Agregar archivo al bucket":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b44e60b6-893e-47b2-86d3-9186a9ebe9e6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-05T14:22:36.029Z","createdAt":"2026-02-05T14:22:36.029Z","role":"workflow:owner","workflowId":"F3JTt3tXHf_F3uuiUXHFv","projectId":"BpgoOzrqFEVx7OMr"}],"activeVersion":null,"tags":[]}